<div class="container {{ show ? 'show' : '' }}">
  <div class="header">
    <div class="back-button" (click)="hideEmit()">
      <span class="material-icons">arrow_back_ios</span>
    </div>
    <div class="title">Doors and pathways</div>
  </div>
  <div class="canvas-container">
    <div class="tools">
      <div>
        <div class="icon">
          <img src="./assets/icons/standard.svg" alt="">
        </div>
        <div class="title">
          Standard door
        </div>
      </div>
      <div>
        <div class="icon">
          <img src="./assets/icons/sliding.svg" alt="">
        </div>
        <div class="title">
          Sliding door
        </div>
      </div>
      <div>
        <div class="icon">
          <img src="./assets/icons/rollup.svg" alt="">
        </div>
        <div class="title">
          Roll-up door
        </div>
      </div>
      <div>
        <div class="icon">
          <img src="./assets/icons/sanitary.svg" alt="">
        </div>
        <div class="title">
          Sanitary entrance
        </div>
      </div>
      <div>
        <div class="icon">
          <img src="./assets/icons/pathway.svg" alt="">
        </div>
        <div class="title">
          Pathway
        </div>
      </div>
    </div>
    <div class="stage">
      <canvas #stage></canvas>
    </div>
  </div>
  <div class="footer">
    <div>
      <button class="publish_button">
        <span>Publish</span>
      </button>
    </div>
  </div>
</div>
